extends ../layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nostros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem Ipsum este pur şi simplu o machetă pentru text a industriei tipografice. Lorem Ipsum a fost macheta standard a industriei încă din secolul al XVI-lea, când un tipograf anonim a luat o planşetă de litere şi le-a amestecat pentru a crea o carte demonstrativă pentru literele respective. Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată în anii '60 od
                p  ieşirea colilor Letraset care conţineau pasaje Lorem Ipsum, iar mai recent, prin
                p  Nu doar că a supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronic
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg",class="img-fluid") 
                    h2.mb-4 Seguridad
                    p supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată    
                .col-md-4
                    img(src="img/icono_destinos.svg",class="img-fluid") 
                    h2.mb-4 Mejores Destinos
                    p supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată  
                .col-md-4
                    img(src="img/icono_precios.svg",class="img-fluid") 
                    h2.mb-4 Precios
                    p supravieţuit timp de cinci secole, dar şi a facut saltul în tipografia electronică practic neschimbată. A fost popularizată  
                    